$black: #343434;
$white: #ffffff;
$grey: #ececec;
$lightGrey: #f6f6f6;
$borderGrey: #dedede;
$gradientBlue: linear-gradient(90deg, #76cbEE, #75c9cc7d);
$lightGreen: #76cbEE;
$lightGreenlight: #75c9cc7d;
$blue: #65bcff;
$darkBlack: #1e1e1e;
$darkGrey: #434343;
$gradientBlueRev: linear-gradient(20deg, #76cbEE, #75c9cc7d);