@mixin elipse(){
    border-top-right-radius: 85%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 100%;
}
@mixin elipse-h(){
    border-top-right-radius: 75%;
    border-bottom-right-radius: 75%;
    border-top-left-radius: 65%;
    border-bottom-left-radius: 65%;
}
@mixin elipse-v(){
    border-top-right-radius: 50%;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 85%;
    border-bottom-left-radius: 50%;
}